
body {
  background-image: url(https://i.pinimg.com/736x/e2/d0/99/e2d0995d7ad44e4b82fabe2adcaa541f.jpg);
  background-position: center;
  background-color: #A929AE;
}

h1 {
  color: #FFEE67;
  text-align: center;
  font-size: 120px;
  font-family: 'Skranji', cursive;
  padding-bottom: 0;
}

h2 {
  color: #FFEE67;
  text-align: center;
  font-size: 90px;
  font-family: 'Skranji', cursive;
  padding-top: 0;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  text-align: center;
}

h4 {
  font-family: 'Work Sans', sans-serif;;
  font-size: 40px;
  text-align: center;
}

a {
  color: #F454FB;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
}

p {
  font-family: 'Oswald', sans-serif;
}

.navbox {
  background-color: #2FC8AA;
  align: center;
  font-size: 35px;
  color: #FF66B2;
  padding: 20;
  display: flex;
  margin-left: -10;
  margin-right: -10;
  position: fixed;
  margin-top: 10;
}

.navitems {
  background-color: #2FC8AA;
  display: flex;
  text-align: center;
  padding-left: 15;
  margin-left: 15;
  margin-right: 15;
}

.top {
  background-color: #F454FB;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 200;
  border-color: #2FC8AA;
  border-style: double;
  position:absolute;
  padding: 20;
  margin-bottom: 40;
}
